.mainDiv {
	align-content: center;
	text-align: center;
	justify-content: center;
	display: flex;
	align-items: center;
	height: 100vh; 
	position: relative; 
}


.appDiv {
	position: relative;
	background-color: #3B3B3B;
	width: 100%;
	z-index: 0;
}

#wrapperTop {
	background-color: #CA4646;
	width: 100%;
	border: 1px solid black;
	display: flex;
	height: 20%;
}

#wrapperBottom {
	background-color: #3B3B3B;
	width: 100%;
	border: 1px solid black;
	display: flex;
	height: 80%;
}


.wrapperAlert {
	width: 40%;
	height: 30%;
	text-align: center;
	position: absolute;
	z-index: 1;
	background-color: #B82828;
	opacity: 0.95;
	border-radius: 20px;

}

.labelsDiv {
	background-color: #3B3B3B;
	text-align: right;
	float: left;
	width: 5%;
	height: 100vh;
	left: 5em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 15vh
}

.chartDiv {
	background-color: #3B3B3B;
	justify-content: space-around;
	text-align: center;
	height: 100vh;
	width: 95%;
	float: right;
}

.headlineDiv {
	background-color: #3B3B3B;
	text-align: center;
	width: 95%;
	height: 20%;
	float: right;
}


.placeholderDiv {
	width: 5%;
	height: 210px;
	background-color: #3B3B3B;
	float: left;
}

.buttonDiv {
	display: flex;
	width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.timeDiv {
    border-color: dodgerblue;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    margin-right: 5px;
    text-align: center;
}

.inputHeadline {
	color: white
}

.alertText {
	font-size: 4vh;
	font-style: normal;
	color: black;
	margin-top: 15%;
	
}

.dropwdown {
	right: 20px;
	background-color: blue;
	color: blue;
}

.inputField {
	padding-left: 20px
}

.timeText {
    margin-right: 20px;
	font-size: 30px
}

h1 {
	color: deepskyblue;
	font-family: Tahoma, Geneva, Verdana, sans-serif;
}

p {
	color: white;
}

.counterMember {
	margin-bottom: 4px;
	font-size: 22px
}

h2 {
	color: white;
}

button {
	border-radius: 10px;
	background-color: dodgerblue;
	margin: 30px;
	padding: 10px 20px;
	font-size: 20px;
	font-weight: 600;
	color: white;
}

.topLabel, .middleLabel, .bottomLabel {
	margin-right: 10%;
	color: white;
}

.middleLabel {
	margin-top: 0;
}

.bottomLabel {
	margin-bottom: 10vh;
}